*,*::before,*::after{
    box-sizing: border-box;
}

/* Custom Properties */
:root{
    
    /*
    ff -> Font Family 
    fs -> Font Size 
    fw -> Font Weight
    clr -> color
    */

    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
    0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media  (min-width: 800px) {
    :root{
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}


/* General Styles */

html{
    scroll-behavior: smooth;
}

body{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

body:before{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background: url("../Images/circuits.svg");
  background-size: cover;
  z-index: -1;
}

section{
    padding: 5em 2em;
}

img{
    display: block;
    max-width: 100%;
}

strong{
    font-weight: var(--fw-bold);
}

:focus{
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

.forBackground:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 130%;
  opacity: 0.6;
  z-index: -1;
}

/* Buttons */
.btn{
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover{
    transform: scale(1.1);
}

.button-flex{
    display: inline-flex;
    align-items: center;
}


/* Typography */
h1, h2, h3{
    line-height: 1;
    margin: 0;
}

h1{font-size: var(--fs-h1);}
h2{font-size: var(--fs-h2);}
h3{font-size: var(--fs-h3);}

.section__title{
    margin-bottom: .25em;
}

.section__title--intro{
    font-weight: var(--fw-reg);
}

.section__title--intro strong{
    display: block;
}

.section__subtitle{
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro, .section__subtitle--about{
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    min-height: 50px;
}

.section__subtitle--work{
    color: var(--clr-dark);
    font-weight: var(--fw-reg);
    margin-bottom: 2em;
}


/* Nav Social */
.social{
    position: absolute;
    top: -3px;
    right: 15%;
}

.social a{
    color: rgba(10, 30, 51, 1);
}

.nav__social_list{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}
.nav__social-list-item{
    margin: 0 1em;
}

@media (min-width: 600px){
    .social{
        right: 10%;
    }    
}







/* Header */
header{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo{
    max-width: 100px;
    margin-top: -10px;
}

.nav{
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list{
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link{
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover{
    color: var(--clr-accent);
}

.nav-toggle{
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav{
    transform: translateX(0); 
}

.nav-open .nav-toggle{
    position: fixed;
}

.nav-open .hamburger{
    transform: rotate(.625turn);
}

.nav-open .hamburger::before{
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after{
    opacity: 0;
}



.hamburger{
    display: block;
    position: relative;
}

.hamburger, .hamburger::before,  .hamburger::after{
    background: var(--clr-accent);
    width: 2em;
    height:3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before, .hamburger::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before{
    top: 6px;
}
.hamburger::after{
    bottom: 6px;
}




/* Cursor */
@keyframes blink{
    0%{
       border-right: 0.1rem solid #777;
    }
    50%{
        border-right: 0.1rem solid transparent;
    }
    100%{
        border-right: 0.1rem solid #777;
    }
}

.section__subtitle--intro > .txt{
    animation: blink 1s infinite;
}

/* Intro Section */

.intro{
    position: relative;
}

.intro__img{
    box-shadow: var(--bs);
    display: none;
}

.section__subtitle--intro{
    display: inline-block;
}

@media (min-width: 600px){
    .intro{
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img{
        display: block;
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro{
        align-self: start;
        grid-column: 1/-1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}




/* My skills Section */

.my-skills{
    background-color: rgba(10, 30, 51, 0.8);
    background-image: url("../Images/services-bg.jpg");
    background-size: cover;
    background-blend-mode: soft-light;
    color: var(--clr-light);
    text-align: center;
}

.section__title--skills{
    color: var(--clr-light);
    position: relative;
}

.section__title--skills::after{
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.skills__container{
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    margin-bottom: 4em;
    row-gap: 0;
}

.skill__content{
    max-width: 400px;
    min-width: 250px;
    margin: 0 auto 3rem auto;
    /* text-align: left; */
}

.skills_header{
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.skills__icon{
    margin-right: 0.75rem;
}

.skills__arrow{
    margin-left: 0.75rem;
    transition: all 0.25s ease-in-out;
}
 
/* For Ex:  Front End Developer */
.skills_title{
    font-size: 2rem;
}

/* For Ex: HTML, CSS, JavaScript */
.skills__data{
    margin-top: 1rem;
}
.skill__titles{
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 0.5rem; */
}
.skills__bar, .skills__percentage{
    height: 5px;
    border-radius: .25rem;
}
.skills__bar{
    background-color: var(--clr-light);
}
.skills__percentage{
    display: block;
    background-color: var(--clr-accent);
}


/* Skills Opener */
.skills__close .skills__list{
    height: 0;
    overflow: hidden;
}

.skills__open .skills__list{
    height: max-content;
}

.skills__open .skills__arrow{
    transform: rotate(-180deg);
}

/* Custom Percentages */
.skills__html{
    width: 90%;
}
.skills__css{
    width: 80%;
}
.skills__js{
    width: 60%;
}
.skills__java{
    width: 70%;
}

@media (min-width: 800px){
    .skills__container{
        display: flex;
        max-width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }

    .skill__content{
        margin-bottom: 0;
    }

    .skill__content + .skill__content{
        margin-left: 2em;
    }
}






/* About Me */
.about-me{
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img{
    box-shadow: var(--bs);
    display: none;
}

@media (min-width: 600px) {

    .about-me-bckg:before{
        background: url("../Images/circuits.svg");
        background-size: cover;
        opacity: 0.5;
        height: 100%;
        top: 75rem;
    }
    
    .about-me{
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }

    .section__title--about{
        grid-area: title;
    }

    .section__subtitle--about{
        grid-column: 1/-1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }

    .about-me__img{
        display: block;
        grid-area: img; 
        position: relative;
        z-index: 2;
    }
}






/* Experience */
.qualification{
    width: 100%;
    color: var(--clr-light);
    background-color: rgba(10, 30, 51, 1);
    text-align: center;
}
.section__subtitle--exp{
    color: var(--clr-accent);
}
.qualification__container{
    max-width: 768px;
    margin: 2rem auto 0 auto;
}

.qualification__tabs{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}
.qualification__button{
    cursor: pointer;
}
.qualification__button:hover{
    opacity: 0.7;
    text-decoration: underline;
}

.qualification__icon{
    margin-right: 0.25rem;
}
.qualification__content{
    margin: 0 auto;
    text-align: left;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#education{
    background-image: url('../Images/education.jpg');
}
#experience{
    background-image: url('../Images/experience.jpg');
}

.qualification__data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
    margin-top: 1.5rem;
}
.qualification__data:nth-child(2n+1){
    text-align: right;
}

.qualification__title{
    color: var(--clr-accent);
}
.qualification__subtitle{
    display: inline-block;
    margin-bottom: 0.75rem;
}
.qualification__rounder{
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: var(--clr-light);
}
.qualification__line{
    display: block;
    width: 1px;
    height: 115%;
    background-color: var(--clr-light);
    transform: translate(4.5px, -6.5px);
}

.qualification [data-content]{
    display: none;
}
.qualification_active[data-content]{
    display: block;
}



















/* My Work */
.portfolio-bckg:before{
    background: url("../Images/circuits.svg");
    background-size: cover;
    height: 100%;
    opacity: 0.5;
}
.portfolio{
    /* background-color: var(--clr-light); */
    color: var(--clr-dark);
    text-align: center;
}

.portfolio_container{
    max-width: 768px;
    margin: 0 auto;
    text-align: left;
    overflow: initial;
}

.portfolio__content{
    padding: 0 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));    
    grid-gap: 1rem;
    align-items: center;
}

.portfolio__img{
    width: 70%;
    border-radius: .5rem;
    justify-self: center;
    box-shadow: var(--bs);
}
.portfolio__data{
    margin-right: 1rem;
}

.swiper-button-next::after, .swiper-button-prev::after{
    color: var(--clr-accent);
    font-size: 1.5rem;
}

.swiper-button-prev{
    left: -0.5rem;
}
.swiper-button-next{
    right: -0.5rem;
}
.swiper-horizontal > .swiper-pagination-bullets{
    bottom: -2.5rem;
}
.swiper-pagination-bullet-active{
    background-color: var(--clr-accent);
}


@media (max-width: 600px){
    .portfolio_container{
        text-align: center;
    }
}





/* Footer */
.footer{
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a{
    color: var(--clr-accent);
    text-decoration: none;
}

.footer__link{
    font-weight: var(--fw-bold);
}

.footer__link:hover, .social-list__link:hover{
    opacity: .7;
}

.footer__link:hover{
    text-decoration: underline;
}

.social-list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item{
    margin: 0 .5em;
}

.social-list__link{
    padding: .5em;
}





/* Indiviual portfolio item Styles */
.portfolio__item-individual{
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio__item-individual p{
    
}